<nav class="navbar navbar-inverse navbar-fixed-top" style="height:60px;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<div class="dropdown">
				<div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<div id="team_name" class="overflow_ellipsis navbar-brand" style="float: none;"> {{userData.user_account_info.firstname}} {{userData.user_account_info.lastname}} <span class="caret"></span>
						<div class="overflow_ellipsis" id="team_title">{{userData.user_account_info.role_name}}</div>
					</div>
				</div>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:240px;left: 0px;">
					<li><a routerLink="/dashboard/editaccount">Account Settings</a></li>
					<li><a href="#">Help & Feedback</a></li>
					<li role="separator" class="divider"></li>
					<li><a style="cursor:pointer;" (click)="logout()">Logout</a></li>
				</ul>
			</div>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<div class="collagename">{{userData.college_info.college_name}}</div>

			<ul class="nav navbar-nav navbar-right">
				<!--<img style="width: 52px;float: left;" src="{{userdata.user_account_info.profile_pic}}"/>-->
				<!--<i style="padding-top: 25px;
    padding-bottom: 15px;font-size:20px;padding-right:25px;cursor:pointer;float: left;" (click)="home()" class="fa fa-home m-r-sm"></i>-->
				<li style="padding-top: 25px;
    padding-bottom: 15px;font-size:20px;padding-right:25px;cursor:pointer;"><span routerLink="/dashboard/notifications"><i class="fa fa-bell-o" aria-hidden="true"></i></span></li>
				<li style="padding-top: 25px;
    padding-bottom: 15px;font-size:20px;padding-right:25px;cursor:pointer;" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar" id="style-3">
			<ul class="nav nav-sidebar">
				<li class="menu_head" style="padding-top:15px;margin-left: -15px;">
					<a style="width: 200px;margin-left: -40px;" [routerLinkActive]="['active']" routerLink="/dashboard/landing"><span class="fa fa-tachometer" style="margin-right:10px;"></span>Dashboard</a>
				</li>
			</ul>
			<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-bell-o" aria-hidden="true" style="margin-right:10px;"></i>Notifications</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/notifications">send notification</a></li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/notificationhistory">view history</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-bar-chart" aria-hidden="true" style="margin-right:10px;"></i>Polling</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/poll">create poll</a></li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/pollinghistory">view polling history</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-calendar" aria-hidden="true" style="margin-right:10px;"></i>EVENTS</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/newevent">create an event</a></li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/events">view all events</a></li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/myevents">my events</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-cog" aria-hidden="true" style="margin-right:10px;"></i>workshops</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/workshops">find a workshop</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-bookmark-o" aria-hidden="true" style="margin-right:10px;"></i>Guest Lectures</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/findtutor">find a tutor</a></li>
			</ul>
			<ul class="nav nav-sidebar" *ngIf="userData.access_permission_info.role_id == 4">
				<li class="menu_head"><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;"></i>Student Mgmt.</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/studentmgmt">upload students</a></li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/students">view students</a></li>
			</ul>
			<!--<ul class="nav nav-sidebar">
				<li class="menu_head"><i class="fa fa-star" aria-hidden="true" style="margin-right:10px;"></i>Sponsors</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/sponsor">find a sponsor</a></li>
			</ul>-->
			<ul class="nav nav-sidebar" *ngIf="userData.access_permission_info.can_create_accounts">
				<li class="menu_head"><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;"></i>Accounts</li>
				<li><a [routerLinkActive]="['active']" routerLink="/dashboard/account">Create Account</a></li>
				<!--<li><a [routerLinkActive]="['active']" routerLink="/dashboard/editaccount">Edit Profile</a></li>-->
			</ul>
			<!--<ul class="nav nav-sidebar">
				<li class="menu_head" style="width: 220px;margin-left: -40px;"><a [routerLinkActive]="['active']" routerLink="/dashboard/startups"><i class="fa fa-rocket" aria-hidden="true" style="margin-right:10px;"></i>Startups</a></li>
			</ul>-->
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<router-outlet>

			</router-outlet>
		</div>
	</div>
</div>